<h2><%= @word.name %></h2>

<form action="/word/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="addDefinition">Add definition</label>
    <input id="addDefinition" name="addDefiniton" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Submit</button>
</form>
<br>
<% if @word.definitions.any? %>
  <h3>Here are your definitions:</h3>
  <ul>
    <% @word.definitions.each do |definition| %>
      <li><%= definition %></li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any definitions yet</p>
<% end %>

<p><a href="/">Return</a> to list of all words</p>
